/* Default font style (Arial) */
body {
    font-family: Arial, sans-serif;
    font-size: 24px;
}

/* Font style for OpenDyslexic */
body.dyslexic {
    font-family: 'OpenDyslexic', sans-serif;
    font-size: 24px;
}

.user-message {
    text-align: left;
    padding: 5px;
    margin: 10px 0;
    background-color: #EEEEEE; 
}

.assistant-message {
    text-align: left;
    padding: 5px;
    margin: 10px 0;
    background-color: #FFFDE7; 
}

.mindmap-image {
    max-width: 100%;
    height: auto;
}

.text-to-speech-button {
    height: 34px;
}

.mindmap-button {
    margin-left: 10px;
    height: 34px;
}

.mindmap2-button {
    margin-left: 10px;
    height: 34px;
}

.chat-history {
    max-height: 500px;
    overflow-y: auto; 
    border: 1px solid black; 
    padding: 10px;  
}

.setting-section {
    display: none;
}

.chat-section {
    display: none;
}

.content-loaded-container {
    display: none;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-options-section {
    background-color: #f5f5f5; 
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin-bottom: 20px;
}

.add-section {
    border: 1px solid; 
    border-radius: 10px; 
    padding: 15px;
    margin-bottom: 20px;
}

.add-files-section {
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 20px;
}

.add-url-section {
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 20px;
}

.item-list-section {
    border: 1px solid; 
    border-radius: 10px;
    padding: 15px;
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 20px;
    display: none;
}

.generate-button {
    display: none;
}

#menu {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

.form-group {
    margin-top: 10px; 
    margin-bottom: 10px; 
    border: 1px solid black;
}

.form-group:focus {
    border-color: #FFFDE7 !important;
    outline: none;
}

.vertical-list {
    list-style-type: none; 
    padding: 0; 
}

.vertical-list li {
    display: block; 
    margin-bottom: 5px; 
}
