<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Contents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/opendyslexic" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wiki_content.css') }}">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Wiki Contents Page</h1>
        <div class="row mt-4">
            {% for content_item in content_data %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ content_item.title }}</h5>
                        <p class="card-text">{{ content_item.description }}</p>
                        <!-- <a href="/?wiki_contentId={{ content_item.id }}"" class="btn btn-primary">View Content</a> -->
                        <a href="/wiki_content?contentId={{ content_item.id }}"" class="btn btn-primary">View Content</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/wiki_contents.js') }}"></script>
</body>
</html>
